@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
 }
 html{
    font-size: 60%;
    overflow-x: hidden;
 } 
 html::-webkit-scrollbar{
    width: 0.6rem;
    height: .5rem;
 }
 
 html::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 html::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 255, 0.658);
 }
 body{ 
    /*background-image: url(abstracttop.png);*/
    background-color: #DCEAFF;
    padding-left: 30rem;
    
 }



/*------Header (Python programming on top blue ----------colour)    ----*/

  .header{
    width: 100vw;
    position: sticky;
    top:0; left:0; right: 0;
    height:6rem;
    background-color:#2A36B8;
    z-index: 1000;
    border-bottom: var(--border);
   
 }
 .header .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 30%;
    padding-top: 1.8rem;
}
   
.flex img{
 height:3rem;
 padding-right: 1rem;
 }

.header .flex h1{
    color: white;
    word-spacing: 0.4rem;
    font-size: 1.6rem;

   }
 
/*-----sibe-bar (side nav)-----*/


 .side-bar{
    position: fixed;
    top: 0; left: 0;
    width: 30rem;
    height: 100%;
    background-color: blue;
    border-right: var(--border);
    z-index: 1200;
    font-weight: 500;
 }
 
 
 .side-bar .profile{
    padding:3rem 2rem;
    text-align: center;
    background-color: rgb(0, 0, 161);
    align-items: center;
 
 }
 
 .side-bar .profile .image{
    height: 10rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 
 .side-bar .profile .name{
    font-size: 2rem;
    color:white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 
 .side-bar .navbar a{
   width:30rem;
   height: 5.5rem;
    display: block;
    padding: 1.5rem;
    font-size: 1.7rem;
 }

 .side-bar .navbar .bottomsb  {
    margin-top: 21.7rem;
 }
 
 .side-bar .navbar a i{
    padding-left: 4rem;
    margin-right: 1rem;
    color:white;
 }
  
 /*---------sidebar Text (eg:roadmap.) styling---*/


 .side-bar .navbar a span{
    color:rgb(255, 255, 255);
    padding-left: 1rem;
    align-items: center;
    
 }


 /*---------sidebar hovering background effect---*/
 
 .side-bar .navbar a:hover{
    background-color: rgba(0, 0, 0, 0.416);

 }
 

 .side-bar .navbar a.active{
   
   background-color: rgba(0, 0, 0, 0.308);

 }


 /*---------------------Home Page Styling-----------*/



.content{
   max-width: 80rem !important;    /* Content max width*/
  margin-left: 7.5vw;
      /* Content in center by giving marigin*/
}

.content img{
   width: 65vw;
   margin:4vw 0px;
   
}

.content .about{
   width:69vw;
}
.content .about h1{
   margin-top: 2rem;
   font-weight: 600;
   font-size: 2rem;
}

 .line{  /* about below line styling*/
   width: 65vw;
   height: 0.3rem;
   background-color: black;
   border-radius: 0.2rem;
   margin: 1rem 0rem;
}
.content .about p {
   font-size: 1.5rem;
   font-weight: 400;
   line-height: 133.5%;
}
.content .about li{
   padding-top: 0.3rem;
   font-size: 1.5rem;
   line-height: 133.5%;
   
}
.content .about h2{
   font-size: 1.8rem;
   font-weight: 500;
   line-height: 133.5%;
   padding: 0.5rem 0rem;
}

.content .jobroles{
   margin-top: 2rem;
   margin-bottom: 2rem;
}
.content .jobroles h2{
   font-size: 2rem;
   font-weight: 600;
}

.content .jobroles .carrers
{ display: flex;
  flex-wrap: wrap;
  width: 95rem ;
  height: 22rem;
  gap:2rem;
  background: transparent;
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 4rem;
} 
.content .jobroles .carrers .role {
   width: 40rem !important;
   height:6rem;
   background: #2A36B8;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1rem;
}

.content .jobroles .role h3{
   color: white;
   font-weight: 500;
   font-size: 2rem; 
}
.privacy{
   position: relative;
   width: 120rem;
   height: 3rem;
   background-color: black;
}

/*------------Road map-----*/
  
.contentr{
   max-width: 97rem !important; /* Content max width*/
   margin:0rem 10rem; 
   margin-bottom: 0;
   
}
 .contentr img {
   width: 65vw;
   margin-left:1rem;
 }

 .contentr .mobilescreen img {
   display:none;

 }
.privacyr{
   margin-left: 0px;
   width: 120rem;
   height: 4rem;
   background-color: black;
   margin-top: 0;
   margin-top: -4px;

}

/*------------Free Courses-----*/

.box{
   width:80vw;
   margin-left: 1rem;
}


.videos{
   display:flex;
   flex-wrap: wrap;
   margin-left: 4rem;
   margin-top: 1rem;

}
.course{
   position: relative;
   margin: 0.5rem;
   background-color: #ffffff;
   padding: 0.2rem;
   border-radius: 0.5rem;
}

iframe{
   width:34rem;
   height: 19rem;
   margin:0;
   border-radius: 0.5rem;
}
.container2 h1{
   position: relative;
   font-size: 2.1rem;
   font-weight: 600;
   margin-top: 3.5rem;
   padding-left: 3rem;
}

.course h2{
   font-size: 1.8rem;
   font-weight: 600;
   padding-left: 0.5rem;
   padding-top: 0.5rem;
}


/*-------Projects Page Styling--------------*/


.box{
   margin-bottom: 4rem;
}


.container1{
   display: flex;
   justify-content: center;
   width: 105rem; 
   height:22rem;
   margin-left:6rem ;
   
}

.container1 .card{
   position: relative;
   width: 94rem;
   height:22rem;
   background-color: rgba(254, 55, 55, 0);
   margin-top: 3rem;
   margin-bottom: 3rem;
   border-radius: 2rem;
   display: flex; 
}

.container1 .card .rec {
   position:relative ;
   width:27rem !important;
   height: 18rem;
   background: rgb(255, 255, 255);
   margin: 2rem;  
   border-radius: 1.5rem;
}

.container1 .card .rec img{
   width: 32rem;
   height: 19rem;
   border-radius: 1rem;
   margin-right: 1rem;
}

.cardcontent{
   width:60rem;
   margin-top: 3rem;
   margin-bottom: 2rem;
  padding-left: 7rem;
   
}
.cardcontent h1{
   font-weight: 600;
}
.container1 .card .cardcontent p{
   font-size: 1.5rem;
   padding-right: 0rem;
   padding-top: 0.5rem;
}
 
.container1 .card a{
   position: relative;
   display: flex;
   width: 18rem;
   height: 4rem;
   list-style: none;
   text-decoration: none;
   background-color: #1AB700;
   color: rgb(255, 255, 255);
   border-radius: 1rem;
   font-size: 1.7rem;
   font-weight: 500;
   justify-content: center;
   align-items: center;
   margin-top: 5rem;
}




/*--------------Interview Guide------------*/

 .accordion{
   max-width: 112rem;
   width: 100%;
   background: rgb(255, 255, 255);
   margin: 0 1.5rem;
   padding: 1.5rem;
   border-radius: 0.8rem;
   box-shadow:  0 0 0.4rem rgba(0,0,0,0.2);
}
.accordion{
   margin-top: 4rem;
   margin-left: 3rem;
}
.accordion .accordion-content{
   margin: 1rem 0;
   border-radius: 0.4rem;
   background: #FFF7F0;
   border: 0.1rem solid #FFD6B3;
   overflow: hidden;
}
.accordion-content:nth-child(2){
   background-color: #F0FAFF;
   border-color: #CCEEFF;
}
.accordion-content:nth-child(3){
   background-color: #FFF0F3;
   border-color: #FFCCD6;
}
.accordion-content:nth-child(4){
   background-color: #F0F0FF;
   border-color: #CCCCFF;
}
.accordion-content.open{
   padding-bottom: 1rem;
}
.accordion-content header{
   display: flex;
   min-height: 5rem;
   padding: 0 1.5rem;
   cursor: pointer;
   align-items: center;
   justify-content: space-between;
   transition: all 0.2s linear;
}
.accordion-content.open header{
   min-height: 4rem;
}
.accordion-content header .title{
   font-size: 1.8rem;
   font-weight: 500;
   color: #333;
}
.accordion-content header i{
   font-size: 1.8rem;
   color: #333;
}
.accordion-content .description{
   height: 0;
   font-size: 1.8rem;
   color: #333;
   font-weight: 400;
   padding: 0 1.5rem;
   transition: all 0.2s linear;
}




/*--------------------------------------------------------------------------- Cheatsheets Styling ----------------*/


.cheatcontent{
   max-width: 100rem !important;    /* Content max width*/
   margin:0px 4.5rem;  
      /* Content in center by giving marigin*/
}

.boxflex{
   display:flex;
}

.boxes{
   margin:0.5rem;
}

.cheatcontent .box1{
   width:20rem;
   background-color: #1AB700;
   position:relative;
   display: block;
   margin-top: 3rem;
   padding: 1rem;
   border-radius: 0.5rem;
   font-size:1.4rem;
   color: black;
}

.cheatcontent .box2{
   width:20rem;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 1rem;
   padding: 1rem;
   border-radius: 0.5rem;
   font-size: 1.4rem;
   color: black;
}
.cheatcontent .box3{
   width:20rem;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 1rem;
   padding: 1rem;
   border-radius: 0.5rem;
   font-size: 1.4rem;
   color: black;
}


/*------------Mobile Screens 320px--*/



@media screen and  (min-width :281px) and (max-width:320px) {
   html{
      height:720px;
   }
   
   body{
      width:320px;
      height:700px;
      padding: 0px;
      padding-right: 10px;
      padding-bottom: 0px;
   }

   .header{
      width:260px;     /*---Header width--*/
      height:40px;     /*---Header height--*/
      position: fixed;
       top:0; left:0; right: 0;
     margin-left: 60px;  /*---Header left space--*/
     border-radius: 0px 0px 10px 10px;  /*---Header Border--*/
   }

   .header .flex{    /*---Header img+h1 spacing--*/
      padding:0px;
      padding-top: 15px;
      padding-left: 35px;
   }

   .flex img{       /*---Header python size--*/
      height:18px;       
      
      }

    .header .flex h1{ /*---Header h1 size--*/
   font-size: 9px;
   }

   .side-bar{          /*---side bar size--*/
      position: fixed;
      top: 0; left: 0;
      width:60px;
      height:920px;
   }

   .side-bar .profile{  
      padding: 10px 10px;
      padding-top: 50px;
   }
   .side-bar .profile .image{  /*---side bar image width--*/
      width:40px;
   }
   .side-bar .profile .name{
      display: none;
   }

   .side-bar .navbar a {     /*---box size in side bar--*/
      width:60px;
      height:80px;
      padding: 0px;
      line-height: 40px;
      align-items: center;
      display: block;

   }
   .side-bar .navbar a i{   /*---Icons styling--*/
      width:60px;
      height:80px;
      padding-top: 30px;
      padding-left: 25px;
      margin: 0px;
      font-size: 14px;
    

   }
   .side-bar .navbar a span{ 
      left: 0;
      display: none;
      padding: 0px;
      
   }

   .content{    /*---Content inside styling--*/
      max-width: 240px; 
      margin-left: 70px;
   }
   
   .content img{      /*---Info img styling--*/
      width:245px;
      margin-top: 50px;
      margin-bottom: 0px;
   }
 
   .content .about h1{
      width:240px;     /*---About title styling--*/
      font-size: 11px;
      margin-top: 5px;
   }
   .line{            /*---line styling--*/
      width:240px;
      height: 1.5px;
      margin: 6px 0px;
   }
   
   .content .about p {   /*--Paragraph styling---*/
      width: 240px;
      font-size:10px;
   }
    
    .content .about li{  /*--points styling---*/
      width: 240px;
      font-size:9.5px;
    }

    .content .about h2{   /*--bold text styling in middle ---*/
      width: 240px;
      font-size: 11px;

    }

    .content .jobroles{   /*--space between job & cards styling---*/
      width:240px;
      margin-top: 5px;
      margin-bottom: 5px;
   }

   .content .jobroles h2{   /*--job opp.. text styling---*/
      width: 240px;
      font-size: 10px;
   }
   
   .content .jobroles .carrers{   /*--roles blocks styling---*/
      display: block;
      width:240px ;
      height:230px;       /*--height of the job opp.. section---*/
      margin: 0px;
      
   }

   .content .jobroles .carrers .role {   /*--Job roles block---*/
      width:200px !important;
      height:32px;
      margin: 5px;
      margin-top: 7px;
      margin-left:20px;
   }

.content .jobroles .role h3{      /*--text of Role roles block ---*/
font-size: 10px;
}

.privacy{                      /*--privacy policy block ---*/
position: relative;
height: 20px;
width:260px;
margin-left: 60px;

}

.contentr{
   margin:0px 10px;

}

.contentr img{      /*-----previous img displaying none --*/
   display:none;
}

.contentr .mobilescreen img {   /*- Styling Roadmap img--*/
   display:block;
   width:240px;
   height:770px;
   margin-top: 20px;
   margin-left: 60px;

 }

.privacyr{            /*-----privacy policy styling-*/
   width:260px;
   height:25px;
   margin-left: 60px;
   margin-top: -17.8px;
}



.box{              /*--top space for content ---*/
   margin-top: 60px;
}


.videos{               /*--iframe & sidebar distance---*/
   margin-left: 50px;
   margin-top: 0;
 }
 .course{                /*-iframe outside ---*/
   position: relative;
   margin: 4px;
   margin-bottom: 5px;
 }
.course h2{              /*--below iframe text---*/
   font-size: 11px;
   padding: 3px 0px;
   padding-left: 8px;
}

 iframe{                /*--iframe styling ---*/
   width:230px;
   height: 135px;
   margin: 0px 0px;
 }
 .container2 h1{       /*--title text styling ---*/
   width: 260px;
   margin-left: 25px;
   font-size: 11px;
   margin-top: 10px;
   padding-top: 10px;
 }

 .accordion{            /*--accordion styling---*/
   width:240px;
   margin-left: 70px;
   margin-top: 50px;
   padding-top: 10px;
 }
 .accordion-content header{
   padding: 0 10px;
 }
 .accordion-content header .title{
   font-size: 10px;
 }

 .accordion-content header i{
   font-size: 10px;
 }
 .accordion-content .description{
   font-size: 10px;
 }

 .box{         /*--Projects page content margin--*/
  margin: 40px 0px 0px 20px;   
 }

 .container1{          
   display: inline;
   justify-content: center;
   width: 260px; 
   height:220px;
   margin-top: 0px; 
}

.container1 .card{   /*--Project card styling---*/
   position: relative;
   display: block;
   width: 250px;   /*--width of card---*/
   height:300px;
   background-color: rgb(255, 255, 255);
   margin-top: 0px;
   margin-bottom: 0px;
   border-radius: 10px;
   padding: 5px;
   margin-left: 45px;
}

.container1 .card .rec {
   width: 240px !important;
   height: 160px;
   margin-top: 0px;
   margin-bottom: 0px;
   background-color: transparent;
   margin-left: 0px;
}

.container1 .card .rec img{   /*--Project img---*/
   width: 240px;
   height: 150px;
   border-radius: 10px;
   margin-left: 0px;   
}

.cardcontent{              /*--project cardcontent---*/
   position: relative;
   width:240px;
   height:100px;
   margin-top: 0px;
   margin-bottom: 10px;
   margin-left: 0;
   padding-left: 6px; 
}
.cardcontent h1{          /*--project title---*/
   width: 240px;
   font-size: 12px;
   font-weight: 600;   
}
.container1 .card .cardcontent p{  /*--project info---*/
   width: 240px;
   font-size: 9px;
   padding-right: 0px;
   padding-top: 5px;
   margin-bottom: 15px; 
}
 
.container1 .card a{          /*--Source code button styling---*/
   position: relative;
   display: inline;
   width: 250px !important;
   height: 40px;
   list-style: none;
   text-decoration: none;
   background-color: #1AB700;
   color: rgb(255, 255, 255);
   border-radius: 5px;
   font-size: 13px;
   font-weight: 400;
   justify-content: center;
   align-items: center;
   padding: 5px 70px;
   margin-top: 10px;
   margin-left: 0px;  
}

.privacy{             /*--privacy policy styling---*/
   margin-top: 10px;
}

.cheatcontent{
   max-width: 270px !important;    /* Content max width*/
   margin-left: 85px; 
   margin-top: 40px;
      /* Content in center by giving marigin*/
}

.boxflex{
   position: relative;
   width:290px;
   display:inline;
   margin: 0; 
}

.boxes{           /*---boxs flex styling-*/
   display: flex;
   margin:5px;
   margin-top: 0px;
   margin-bottom: 0px;
   gap: 10px;
}
.box3{
   display: none;
}
.cheatcontent .box1{           /*---box styling-*/
   width:100px;
   background-color: #1AB700;
   position:relative;
   display: block;
   margin: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size:6px;
   color: black;
}

.cheatcontent .box2{
   width:100px;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size: 6px;
   color: black;
}

.cheatcontent .box3{
   width:80px;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size: 6px;
   color: black;
   display: none;
}
.cheatcontent .boxflex .boxes .box1 li{
   font-size: 7px;
}
.cheatcontent .boxflex .boxes .box2 li{
   font-size: 7px;
}
.privacy{             /*--privacy policy styling---*/
   margin-top: 10px;
}
}



/*------------Mobile Screens 360px--*/



@media screen and  (min-width :321px) and (max-width:360px) {
   
   html{
      height:720px;
   }

   body{
      width:360px;
      height:700px;
      padding: 0;
      padding-right: 10px;
      padding-bottom: 0px;
      margin-top: 0;  
   }
    
   .header{ 
      position: fixed ;
      width:300px;     /*---Header width--*/
      height:40px;     /*---Header height--*/
      top:0; left:0; right: 0;
      margin-left: 60px;  /*---Header left space--*/
      border-radius: 0px 0px 10px 10px; 
      /*---Header Border--*/
   }

   .header .flex{    /*---Header img+h1 spacing--*/
      padding:0px;
      padding-top: 15px;
      padding-left: 60px;
   }

   .flex img{       /*---Header python size--*/
      height:18px;       
      
      }

    .header .flex h1{ /*---Header h1 size--*/
   font-size: 9px;
   }

   .side-bar{          /*---side bar size--*/
      position: fixed;
      top: 0; left: 0;
      width:60px;
      height:900px;
      z-index: 1200;
   }

   .side-bar .profile{  
      padding: 10px 10px;
      padding-top: 50px;
   }
   .side-bar .profile .image{  /*---side bar image width--*/
      width:40px;
   }
   .side-bar .profile .name{
      display: none;
   }

   .side-bar .navbar a {     /*---box size in side bar--*/
      width:60px;
      height:80px;
      padding: 0px;
      line-height: 40px;
      align-items: center;
      display: block;
   }
   .side-bar .navbar a i{   /*---Icons styling--*/
      width:60px;
      height:80px;
      padding-top: 30px;
      padding-left: 25px;
      margin: 0px;
      font-size: 14px;
    

   }
   .side-bar .navbar a span{ 
      left: 0;
      display: none;
      padding: 0px;
      
   }

   .content{    /*---Content inside styling--*/
      max-width:300px; 
      margin-left: 85px;

   }
   
   .content img{      /*---Info img styling--*/
      width:245px;
      margin-top: 50px;
      margin-bottom: 0px;
   }

   .content .about h1{
      width:250px;     /*---About title styling--*/
      font-size: 11px;
      margin-top: 5px;
   }
   .line{            /*---line styling--*/
      width:240px;
      height: 1.5px;
      margin: 6px 0px;
   }
   
   .content .about p {   /*--Paragraph styling---*/
      width: 240px;
      font-size:10px;
   }
    
    .content .about li{  /*--points styling---*/
      width: 240px;
      font-size:9.5px;
    }

    .content .about h2{   /*--bold text styling in middle ---*/
      width: 240px;
      font-size: 11px;

    }

    .content .jobroles{   /*--space between job & cards styling---*/
      margin-top: 5px;
      margin-bottom: 5px;
   }

   .content .jobroles h2{   /*--job opp.. text styling---*/
      width: 240px;
      font-size: 10px;
   }
   
   .content .jobroles .carrers{   /*--roles blocks styling---*/
      display: block;
      width:240px ;
      height:230px;       /*--height of the job opp.. section---*/
      margin: 0px;
      
   }

   .content .jobroles .carrers .role {   /*--Job roles block---*/
      width:200px !important;
      height:32px;
      margin: 5px;
      margin-top: 7px;
      margin-left:20px;
   }

.content .jobroles .role h3{      /*--text of Role roles block ---*/
font-size: 10px;
}

.privacy{                      /*--privacy policy block ---*/
position: relative;
height: 20px;
width:300px !important;
margin-left: 60px;
margin-bottom: 0px;

}

.contentr{
   margin:0px 10px;

}

.contentr img{
   display:none;
}

.contentr .mobilescreen img {
   display:block;
   width:260px;
   height:770px;
   margin-top: 20px;
   margin-left: 70px;

 }

.privacyr{
   width:300px;
   height:25px;
   margin-left: 60px;
   margin-top: -17.8px;
}
 
.box{              /*--top space for content ---*/
   margin-top: 60px;
}


.videos{               /*--iframe & sidebar distance---*/
   margin-left: 60px;
   margin-top: 0;
 }
 .course{                /*-iframe outside ---*/
   position: relative;
   margin: 4px;
   margin-bottom: 5px;
 }
.course h2{              /*--below iframe text---*/
   font-size: 11px;
   padding: 3px 0px;
   padding-left: 8px;
}

 iframe{                /*--iframe styling ---*/
   width:250px;
   height: 135px;
   margin: 0px 0px;
 }
 .container2 h1{       /*--title text styling ---*/
   width: 260px;
   margin-left: 33px;
   font-size: 11px;
   margin-top: 10px;
   padding-top: 10px;
 

 }

 .accordion{            /*--accordion styling---*/
   width:270px;
   margin-left: 75px;
   margin-top: 50px;
   padding-top: 10px;
 }
 .accordion-content header{
   padding: 0 10px;
 }
 .accordion-content header .title{
   font-size: 10px;
 }

 .accordion-content header i{
   font-size: 10px;
 }
 .accordion-content .description{
   font-size: 10px;
 }

 .box{         /*--Projects page content margin--*/
  margin: 40px 0px 0px 20px;   
 }

 .container1{          
   display: inline;
   justify-content: center;
   width: 280px; 
   height:220px;
   margin-top: 0px;
   
}

.container1 .card{   /*--Project card styling---*/
   position: relative;
   display: block;
   width: 250px;   /*--width of card---*/
   height:300px;
   background-color: rgb(255, 255, 255);
   margin-top: 0px;
   margin-bottom: 0px;
   border-radius: 10px;
   padding: 5px;
   margin-left: 63px;
}


.container1 .card .rec {
   width: 250px;
   height: 160px;
   margin-top: 0px;
   margin-bottom: 0px;
   background-color: transparent;
   margin-left: 0px;
}

.container1 .card .rec img{   /*--Project img---*/
   width: 240px;
   height: 150px;
   border-radius: 10px;
   margin-left: 0px;
   
}

.cardcontent{              /*--project cardcontent---*/
   position: relative;
   width:260px;
   height:100px;
   margin-top: 0px;
   margin-bottom: 10px;
   margin-left: 0;
   padding-left: 6px;
}
.cardcontent h1{          /*--project title---*/
   width: 260px;
   font-size: 12px;
   font-weight: 600;
   
}
.container1 .card .cardcontent p{  /*--project info---*/
   width: 240px;
   font-size: 9px;
   padding-right: 0px;
   padding-top: 5px;
   margin-bottom: 15px;
   
}
 
.container1 .card a{          /*--Source code button styling---*/
   position: relative;
   display: inline;
   width: 280px !important;
   height: 40px;
   list-style: none;
   text-decoration: none;
   background-color: #1AB700;
   color: rgb(255, 255, 255);
   border-radius: 5px;
   font-size: 13px;
   font-weight: 400;
   justify-content: center;
   align-items: center;
   padding: 5px 70px;
   margin-top: 10px;
   margin-left: 0px;  
}

.privacy{             /*--privacy policy styling---*/
   margin-top: 10px;
}

.cheatcontent{
   max-width: 300px !important;    /* Content max width*/
   margin-left: 85px; 
   margin-top: 40px;
      /* Content in center by giving marigin*/
}

.boxflex{
   position: relative;
   width:280px;
   display:inline;
   margin: 0;
   
}

.boxes{           /*---boxs flex styling-*/
   display: flex;
   margin:5px;
   margin-top: 0px;
   margin-bottom: 0px;
}
.box3{
   display: none;
}
.cheatcontent .box1{           /*---box styling-*/
   width:100px;
   background-color: #1AB700;
   position:relative;
   display: block;
   margin: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size:6px;
   color: black;
}

.cheatcontent .box2{
   width:100px;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size: 6px;
   color: black;
}

.cheatcontent .box3{
   width:80px;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size: 6px;
   color: black;
   display: none;
}
.cheatcontent .boxflex .boxes .box1 li{
   font-size: 7px;
}
.cheatcontent .boxflex .boxes .box2 li{
   font-size: 7px;
}
.privacy{             /*--privacy policy styling---*/
   margin-top: 10px;
}
}

/*------------Mobile Screens 375px--*/



@media screen and  (min-width :361px) and (max-width:375px) {
   html{
      height:520px !important;
   }
   
   body{
      width:360px;
      height:500px !important;
      padding: 0px;
      padding-right: 10px;
      padding-bottom: 0px;
   }

   .header{
      width:315px;     /*---Header width--*/
      height:40px;     /*---Header height--*/
      position: fixed;
     margin-left: 60px;  /*---Header left space--*/
     border-radius: 0px 0px 10px 10px;  /*---Header Border--*/
   }

   .header .flex{    /*---Header img+h1 spacing--*/
      padding:0px;
      padding-top: 15px;
      padding-left: 60px;
   }

   .flex img{       /*---Header python size--*/
      height:18px;       
      
      }

    .header .flex h1{ /*---Header h1 size--*/
   font-size: 9px;
   }

   .side-bar{          /*---side bar size--*/
      position: fixed;
      width:60px;
      
   }

   .side-bar .profile{  
      padding: 10px 10px;
      padding-top: 50px;
   }
   .side-bar .profile .image{  /*---side bar image width--*/
      width:40px;
   }
   .side-bar .profile .name{
      display: none;
   }

   .side-bar .navbar a {     /*---box size in side bar--*/
      width:60px;
      height:80px;
      padding: 0px;
      line-height: 40px;
      align-items: center;
   }
   .side-bar .navbar a i{   /*---Icons styling--*/
      width:60px;
      height:80px;
      padding-top: 30px;
      padding-left: 25px;
      margin: 0px;
      font-size: 14px;
    

   }
   .side-bar .navbar a span{ 
      left: 0;
      display: none;
      padding: 0px;
      
   }

   .content{    /*---Content inside styling--*/
      max-width:300px; 
      margin-left: 90px;
   }
   
   .content img{      /*---Info img styling--*/
      width:245px;
      margin-top: 50px;
      margin-bottom: 0px;
   }

   .content .about h1{
      width:250px;     /*---About title styling--*/
      font-size: 11px;
      margin-top: 5px;
   }
   .line{            /*---line styling--*/
      width:240px;
      height: 1.5px;
      margin: 6px 0px;
   }
   
   .content .about p {   /*--Paragraph styling---*/
      width: 240px;
      font-size:10px;
   }
    
    .content .about li{  /*--points styling---*/
      width: 240px;
      font-size:9.5px;
    }

    .content .about h2{   /*--bold text styling in middle ---*/
      width: 240px;
      font-size: 11px;

    }

    .content .jobroles{   /*--space between job & cards styling---*/
      margin-top: 5px;
      margin-bottom: 5px;
   }

   .content .jobroles h2{   /*--job opp.. text styling---*/
      width: 240px;
      font-size: 10px;
   }
   
   .content .jobroles .carrers{   /*--roles blocks styling---*/
      display: block;
      width:240px ;
      height:230px;       /*--height of the job opp.. section---*/
      margin: 0px;
   }

   .content .jobroles .carrers .role {   /*--Job roles block---*/
      width:200px !important;
      height:32px;
      margin: 5px;
      margin-top: 7px;
      margin-left:20px;
   }

.content .jobroles .role h3{      /*--text of Role roles block ---*/
font-size: 10px;
}

.privacy{                      /*--privacy policy block ---*/
position: relative;
height: 20px;
width:315px !important;
margin-left: 60px;
margin-bottom: 0px;
}

.contentr{
   margin:0px 10px;
}

.contentr img{
   width:260px;
   height:640px;
}

.privacyr{
   width:315px !important;
}
 
.box{              /*--top space for content ---*/
   margin-top: 60px;
}


.videos{               /*--iframe & sidebar distance---*/
   margin-left: 60px !important;
   margin-top: 0;
 }
 .course{                /*-iframe outside ---*/
   position: relative;
   margin: 4px;
   margin-bottom: 5px;
 }
.course h2{              /*--below iframe text---*/
   font-size: 11px;
   padding: 3px 0px;
   padding-left: 8px;
}

 iframe{                /*--iframe styling ---*/
   width:250px;
   height: 135px;
   margin: 0px 0px;
 }
 .container2 h1{       /*--title text styling ---*/
   width: 260px;
   margin-left: 33px;
   font-size: 11px;
   margin-top: 10px;
   padding-top: 10px;
 }

 .accordion{            /*--accordion styling---*/
   width:270px;
   margin-left: 73px !important;
   margin-top: 50px;
   padding-top: 10px;
 }
 .accordion-content header{
   padding: 0 10px;
 }
 .accordion-content header .title{
   font-size: 10px;
 }

 .accordion-content header i{
   font-size: 10px;
 }
 .accordion-content .description{
   font-size: 10px;
 }

 .box{         /*--Projects page content margin--*/
  margin: 40px 0px 0px 25px;   
 }

 .container1{          
   display: inline;
   justify-content: center;
   width: 280px; 
   height:220px;
   margin-top: 0px; 
}

.container1 .card{   /*--Project card styling---*/
   position: relative;
   display: block;
   width: 250px;   /*--width of card---*/
   height:300px;
   background-color: rgb(255, 255, 255);
   margin-top: 0px;
   margin-bottom: 0px;
   border-radius: 10px;
   padding: 5px;
   margin-left: 57px !important;
}
.container1 .card .rec {
   width: 250px;
   height: 160px;
   margin-top: 0px;
   margin-bottom: 0px;
   background-color: transparent;
   margin-left: 0px;
}

.container1 .card .rec img{   /*--Project img---*/
   width: 240px;
   height: 150px;
   border-radius: 10px;
   margin-left: 0px;
   
   
}

.cardcontent{              /*--project cardcontent---*/
   position: relative;
   width:280px;
   height:100px;
   margin-top: 0px;
   margin-bottom: 10px;
   margin-left: 0;
   padding-left: 6px;
   
   
}
.cardcontent h1{          /*--project title---*/
   width: 260px;
   font-size: 12px;
   font-weight: 600;
   
}
.container1 .card .cardcontent p{  /*--project info---*/
   width: 240px;
   font-size: 9px;
   padding-right: 0px;
   padding-top: 5px;
   margin-bottom: 15px;
   
}
 
.container1 .card a{          /*--Source code button styling---*/
   position: relative;
   display: inline;
   width: 280px !important;
   height: 40px;
   list-style: none;
   text-decoration: none;
   background-color: #1AB700;
   color: rgb(255, 255, 255);
   border-radius: 5px;
   font-size: 13px;
   font-weight: 400;
   justify-content: center;
   align-items: center;
   padding: 5px 70px;
   margin-top: 10px;
   margin-left: 0px;  
}

.privacy{             /*--privacy policy styling---*/
   margin-top: 10px;
}

.cheatcontent{
   max-width: 300px !important;    /* Content max width*/
   margin-left: 85px; 
   margin-top: 40px;
      /* Content in center by giving marigin*/
}

.boxflex{
   position: relative;
   width:280px;
   display:inline;
   margin: 0;
   
}

.boxes{           /*---boxs flex styling-*/
   display: flex;
   margin:5px;
   margin-top: 0px;
   margin-bottom: 0px;
}
.box3{
   display: none;
}
.cheatcontent .box1{           /*---box styling-*/
   width:100px;
   background-color: #1AB700;
   position:relative;
   display: block;
   margin: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size:6px;
   color: black;
}

.cheatcontent .box2{
   width:100px;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size: 6px;
   color: black;
}

.cheatcontent .box3{
   width:80px;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size: 6px;
   color: black;
   display: none;
}
.cheatcontent .boxflex .boxes .box1 li{
   font-size: 7px;
}
.cheatcontent .boxflex .boxes .box2 li{
   font-size: 7px;
}
.privacy{             /*--privacy policy styling---*/
   margin-top: 10px;
}
}


/*------mobile screen 390px--*/


@media screen and  (max-width:390px){
html{
   height: 500px !important;
}

body{
   height: 500px !important;
}

.header{
   width:330px !important;
}

.privacy{
   width:330px !important;
}


}

/*------mobile screen 390px + 393px--*/
@media screen and  (min-width :361px) and (max-width:393px) {
   html{
      height:620px;
   }
   
   body{
      width:360px;
      height:500px;
      padding: 0px;
      padding-right: 10px;
      padding-bottom: 0px;
   }

   .header{
      width:333px;     /*---Header width--*/
      height:40px;     /*---Header height--*/
      position: fixed;
     margin-left: 60px;  /*---Header left space--*/
     border-radius: 0px 0px 10px 10px;  /*---Header Border--*/
   }

   .header .flex{    /*---Header img+h1 spacing--*/
      padding:0px;
      padding-top: 15px;
      padding-left: 60px;
   }

   .flex img{       /*---Header python size--*/
      height:18px;       
      
      }

    .header .flex h1{ /*---Header h1 size--*/
   font-size: 9px;
   }

   .side-bar{          /*---side bar size--*/
      position: fixed;
      width:60px;
      height:930px;
   }

   .side-bar .profile{  
      padding: 10px 10px;
      padding-top: 50px;
   }
   .side-bar .profile .image{  /*---side bar image width--*/
      width:40px;
   }
   .side-bar .profile .name{
      display: none;
   }

   .side-bar .navbar a {     /*---box size in side bar--*/
      width:60px;
      height:80px;
      padding: 0px;
      line-height: 40px;
      align-items: center;
   }
   .side-bar .navbar a i{   /*---Icons styling--*/
      width:60px;
      height:80px;
      padding-top: 30px;
      padding-left: 25px;
      margin: 0px;
      font-size: 14px;
    

   }
   .side-bar .navbar a span{ 
      left: 0;
      display: none;
      padding: 0px;
      
   }

   .content{    /*---Content inside styling--*/
      max-width:300px; 
      margin-left: 90px;
   }
   
   .content img{      /*---Info img styling--*/
      width:270px;
      margin-top: 50px;
      margin-bottom: 0px;
   }

   .content .about h1{
      width:270px;     /*---About title styling--*/
      font-size: 11px;
      margin-top: 5px;
   }
   .line{            /*---line styling--*/
      width:270px;
      height: 1.5px;
      margin: 6px 0px;
   }
   
   .content .about p {   /*--Paragraph styling---*/
      width: 270px;
      font-size:10px;
   }
    
    .content .about li{  /*--points styling---*/
      width: 270px;
      font-size:9.5px;
    }

    .content .about h2{   /*--bold text styling in middle ---*/
      width: 270px;
      font-size: 11px;

    }

    .content .jobroles{   /*--space between job & cards styling---*/
      margin-top: 5px;
      margin-bottom: 5px;
   }

   .content .jobroles h2{   /*--job opp.. text styling---*/
      width: 270px;
      font-size: 10px;
   }
   
   .content .jobroles .carrers{   /*--roles blocks styling---*/
      display: block;
      width:270px ;
      height:230px;       /*--height of the job opp.. section---*/
      margin: 0px;
      
   }

   .content .jobroles .carrers .role {   /*--Job roles block---*/
      width:200px !important;
      height:32px;
      margin: 5px;
      margin-top: 7px;
      margin-left:30px;
   }

.content .jobroles .role h3{      /*--text of Role roles block ---*/
font-size: 10px;
}

.privacy{                      /*--privacy policy block ---*/
position: relative;
height: 20px;
width:333px;
margin-left: 60px;

}

.contentr{
   margin:0px 10px;

}

.contentr img{
   display:none;
}

.contentr .mobilescreen img {
   display:block;
   width:260px;
   height:770px;
   margin-top: 20px;
   margin-left: 80px;

 }

.privacyr{
   width:333px;
   height:25px;
   margin-left: 60px;
   margin-top: -17.8px;
}
 
.box{              /*--top space for content ---*/
   margin-top: 60px;
}


.videos{               /*--iframe & sidebar distance---*/
   margin-left: 70px;
   margin-top: 0;
 }
 .course{                /*-iframe outside ---*/
   position: relative;
   margin: 4px;
   margin-bottom: 5px;
 }
.course h2{              /*--below iframe text---*/
   font-size: 11px;
   padding: 3px 0px;
   padding-left: 8px;
}

 iframe{                /*--iframe styling ---*/
   width:260px;
   height: 135px;
   margin: 0px 0px;
 }
 .container2 h1{       /*--title text styling ---*/
   width: 310px;
   margin-left: 33px;
   font-size: 12.5px;
   margin-top: 10px;
   padding-top: 10px;
 

 }

 .accordion{            /*--accordion styling---*/
   width:290px;
   margin-left: 80px;
   margin-top: 50px;
   padding-top: 10px;
 }
 .accordion-content header{
   padding: 0 10px;
 }
 .accordion-content header .title{
   font-size: 10px;
 }

 .accordion-content header i{
   font-size: 10px;
 }
 .accordion-content .description{
   font-size: 10px;
 }

 .box{         /*--Projects page content margin--*/
  margin: 40px 0px 0px 20px;   
 }

 .container1{          
   display: inline;
   justify-content: center;
   width: 280px; 
   height:220px;
   margin-top: 0px;
   
}

.container1 .card{   /*--Project card styling---*/
   position: relative;
   display: block;
   width: 280px;   /*--width of card---*/
   height:300px;
   background-color: rgb(255, 255, 255);
   margin-top: 0px;
   margin-bottom: 0px;
   border-radius: 10px;
   padding: 5px;
   margin-left: 63px;
}


.container1 .card .rec {
   width: 250px;
   height: 160px;
   margin-top: 0px;
   margin-bottom: 0px;
   background-color: transparent;
   margin-left: 0px;
}

.container1 .card .rec img{   /*--Project img---*/
   width: 270px;
   height: 160px;
   border-radius: 10px;
   margin-left: 0px;
   
   
}

.cardcontent{              /*--project cardcontent---*/
   position: relative;
   width:280px;
   height:100px;
   margin-top: 5px;
   margin-bottom: 10px;
   margin-left: 0;
   padding-left: 18px;
   
   
}
.cardcontent h1{          /*--project title---*/
   width: 260px;
   font-size: 12px;
   font-weight: 600;
   
}
.container1 .card .cardcontent p{  /*--project info---*/
   width: 240px;
   font-size: 9px;
   padding-right: 0px;
   padding-top: 5px;
   margin-bottom: 15px;
   
}
 
.container1 .card a{          /*--Source code button styling---*/
   position: relative;
   display: inline;
   width: 280px !important;
   height: 40px;
   list-style: none;
   text-decoration: none;
   background-color: #1AB700;
   color: rgb(255, 255, 255);
   border-radius: 5px;
   font-size: 13px;
   font-weight: 400;
   justify-content: center;
   align-items: center;
   padding: 5px 75px;
   margin-top: 10px;
   margin-left: 0px;  
}

.privacy{             /*--privacy policy styling---*/
   margin-top: 10px;
}

.cheatcontent{
   max-width: 300px !important;    /* Content max width*/
   margin-left: 95px; 
   margin-top: 40px;
      /* Content in center by giving marigin*/
}

.boxflex{
   position: relative;
   width:280px;
   display:inline;
   margin: 0;
   
}

.boxes{           /*---boxs flex styling-*/
   display: flex;
   margin:5px;
   margin-top: 0px;
   margin-bottom: 0px;
}
.box3{
   display: none;
}
.cheatcontent .box1{           /*---box styling-*/
   width:100px;
   background-color: #1AB700;
   position:relative;
   display: block;
   margin: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size:6px;
   color: black;
}

.cheatcontent .box2{
   width:100px;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size: 6px;
   color: black;
}

.cheatcontent .box3{
   width:80px;
   background-color: #7c7c7c;
   position:relative;
   margin-top: 10px;
   padding: 5px;
   border-radius: 5px;
   font-size: 6px;
   color: black;
   display: none;
}
.cheatcontent .boxflex .boxes .box1 li{
   font-size: 7px;
}
.cheatcontent .boxflex .boxes .box2 li{
   font-size: 7px;
}
.privacy{             /*--privacy policy styling---*/
   margin-top: 10px;
}
}




/*********-------Mobile screen 428px -----*******/

@media screen  and (max-width : 428px){
   .header{
      width:348px !important ;
   }

   .header .flex{    /*---Header img+h1 spacing--*/
      padding:0px;
      padding-top: 15px;
      padding-left: 75px !important;
   }

   .content{    /*---Content inside styling--*/ 
      margin-left: 100px !important;
   }

   .privacy{                      /*--privacy policy block ---*/
      position: relative;
      height: 20px;
      width:348px !important;
      margin-left: 80px;
      
      }

   .contentr .mobilescreen img {
      display:block;
      width:300px;
      height:800px;
      margin-top: 20px;
      margin-left: 60px !important;
   
    } 
    .privacyr{
      width:348px !important;
      height:25px;
      margin-left: 80px;
      margin-top: -18px;
   }

   .videos{               /*--iframe & sidebar distance---*/
      margin-left: 25px !important;
      margin-top: 0;
    }
    .container2 h1{       /*--title text styling ---*/
      width: 328px !important;
      margin-left: 40px;
      font-size: 15px !important;
      margin-top: 10px;
      padding-top: 10px;
      padding-left: 0;
    }
   
    .accordion{            /*--accordion styling---*/
      width:320px !important;
      margin-left: 95px !important;
      margin-top: 55px;
      padding-top: 10px;
    }

    .box{         /*--Projects page content margin--*/
      margin: 45px 0px 0px 0px !important;   
     }
     .container1 .card{   /*--Project card styling---*/
      position: relative;
      display: block;
      width: 300px;   /*--width of card---*/
      height:330px;
      background-color: rgb(255, 255, 255);
      margin-top: 0px;
      margin-bottom: 05px;
      border-radius: 10px;
      padding: 5px;
      margin-left: 43px !important;
   }
}



/*********-------Mobile screen 480px -----*******/


@media screen  and (min-width : 394px) and (max-width : 480px){
      html{
         height:620px;
      }
      
      body{
         width:360px;
         height:500px;
         padding: 0px;
         padding-right: 10px;
         padding-bottom: 0px;
      }
   
      .header{
         width:400px;     /*---Header width--*/
         height:45px;     /*---Header height--*/
         position: fixed;
        margin-left: 80px;  /*---Header left space--*/
        border-radius: 0px 0px 10px 10px;  /*---Header Border--*/
      }
   
      .header .flex{    /*---Header img+h1 spacing--*/
         padding:0px;
         padding-top: 15px;
         padding-left: 95px;
      }
   
      .flex img{       /*---Header python size--*/
         height:18px;       
         
         }
   
       .header .flex h1{ /*---Header h1 size--*/
      font-size: 11px;
      }
   
      .side-bar{          /*---side bar size--*/
         position: fixed;
         width:80px;
         height:930px;
      }
   
      .side-bar .profile{  
         padding: 10px 10px;
         padding-top: 50px;
      }
      .side-bar .profile .image{  /*---side bar image width--*/
         width:40px;
      }
      .side-bar .profile .name{
         display: none;
      }
   
      .side-bar .navbar a {     /*---box size in side bar--*/
         width:80px;
         height:80px;
         padding: 0px;
         line-height: 40px;
         align-items: center;
      }
      .side-bar .navbar a i{   /*---Icons styling--*/
         width:80px;
         height:80px;
         padding-top: 30px;
         padding-left: 32px;
         margin: 0px;
         font-size: 16px;
       
   
      }
      .side-bar .navbar a span{ 
         left: 0;
         display: none;
         padding: 0px;
         
      }
   
      .content{    /*---Content inside styling--*/
         max-width:300px; 
         margin-left: 120px;
      }
      
      .content img{      /*---Info img styling--*/
         width:320px;
         margin-top: 55px;
         margin-bottom: 0px;
      }
   
      .content .about h1{
         width:320px;     /*---About title styling--*/
         font-size: 11px;
         margin-top: 5px;
      }
      .line{            /*---line styling--*/
         width:320px;
         height: 1.5px;
         margin: 6px 0px;
      }
      
      .content .about p {   /*--Paragraph styling---*/
         width: 320px;
         font-size:10px;
      }
       
       .content .about li{  /*--points styling---*/
         width: 320px;
         font-size:9.5px;
       }
   
       .content .about h2{   /*--bold text styling in middle ---*/
         width: 320px;
         font-size: 11px;
   
       }
   
       .content .jobroles{   /*--space between job & cards styling---*/
         margin-top: 5px;
         margin-bottom: 5px;
      }
   
      .content .jobroles h2{   /*--job opp.. text styling---*/
         width: 320px;
         font-size: 10px;
      }
      
      .content .jobroles .carrers{   /*--roles blocks styling---*/
         display: block;
         width:320px ;
         height:230px;       /*--height of the job opp.. section---*/
         margin: 0px;
         
      }
   
      .content .jobroles .carrers .role {   /*--Job roles block---*/
         width:250px !important;
         height:32px;
         margin: 5px;
         margin-top: 7px;
         margin-left:30px;
      }
   
   .content .jobroles .role h3{      /*--text of Role roles block ---*/
   font-size: 10px;
   }
   
   .privacy{                      /*--privacy policy block ---*/
   position: relative;
   height: 20px;
   width:400px;
   margin-left: 80px;
   
   }
   
   .contentr{
      margin:0px 40px;
   
   }
   
   .contentr img{
      display:none;
   }
   
   .contentr .mobilescreen img {
      display:block;
      width:300px;
      height:800px;
      margin-top: 20px;
      margin-left: 80px;
   
    }
   
   .privacyr{
      width:400px;
      height:25px;
      margin-left: 80px;
      margin-top: -18px;
   }
    
   .box{              /*--top space for content ---*/
      margin-top: 50px !important;
   }
   
   
   .videos{               /*--iframe & sidebar distance---*/
      margin-left: 50px;
      margin-top: 0;
    }
    .course{                /*-iframe outside ---*/
      position: relative;
      margin: 6px;
      margin-bottom: 5px;
    }
   .course h2{              /*--below iframe text---*/
      font-size: 15px;
      padding: 3px 0px;
      padding-left: 8px;
   }
   
    iframe{                /*--iframe styling ---*/
      width:320px ;
      height: 180px !important;
      margin: 0px 0px;
    }
    .container2 h1{       /*--title text styling ---*/
      width: 400px;
      margin-left: 40px;
      font-size: 17px;
      margin-top: 10px;
      padding-top: 10px;
      padding-left: 0;
    }
   
    .accordion{            /*--accordion styling---*/
      width:340px;
      margin-left: 110px;
      margin-top: 55px;
      padding-top: 10px;
    }
    .accordion-content header{
      padding: 0 10px;
    }
    .accordion-content header .title{
      font-size: 10px;
    }
   
    .accordion-content header i{
      font-size: 10px;
    }
    .accordion-content .description{
      font-size: 10px;
    }
   
    .box{         /*--Projects page content margin--*/
     margin: 45px 0px 0px 60px !important;   
    }
   
    .container1{          
      display: inline;
      justify-content: center;
      width: 400px; 
      height:220px;
      margin-top: 0px;
      
   }
   
   .container1 .card{   /*--Project card styling---*/
      position: relative;
      display: block;
      width: 300px;   /*--width of card---*/
      height:330px;
      background-color: rgb(255, 255, 255);
      margin-top: 0px;
      margin-bottom: 05px;
      border-radius: 10px;
      padding: 5px;
      margin-left: 63px;
   }
   
   
   .container1 .card .rec {
      width: 250px;
      height: 160px;
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: transparent;
      margin-left: 0px;
   }
   
   .container1 .card .rec img{   /*--Project img---*/
      width: 280px;
      height: 170px;
      border-radius: 10px;
      margin-left: 5px;
      margin-top: 5px;
      
      
   }
   
   .cardcontent{              /*--project cardcontent---*/
      position: relative;
      width:280px;
      height:100px;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 0;
      padding-left: 18px;
      
      
   }
   .cardcontent h1{          /*--project title---*/
      width: 260px;
      font-size: 13px;
      font-weight: 600;
      
   }
   .container1 .card .cardcontent p{  /*--project info---*/
      width: 260px;
      font-size: 9px;
      padding-right: 0px;
      padding-top: 5px;
      margin-bottom: 20px;
      
   }
    
   .container1 .card a{          /*--Source code button styling---*/
      position: relative;
      display: inline;
      width: 280px !important;
      height: 45px;
      list-style: none;
      text-decoration: none;
      background-color: #1AB700;
      color: rgb(255, 255, 255);
      border-radius: 5px;
      font-size: 13px;
      font-weight: 400;
      justify-content: center;
      align-items: center;
      padding: 5px 75px;
      margin-top: 50px !important;
      margin-left: 5px;  
   }
   
   .privacy{             /*--privacy policy styling---*/
      margin-top: 10px;
   }
   
   .cheatcontent{
      max-width: 400px !important;    /* Content max width*/
      margin-left: 125px; 
      margin-top: 45px;
         /* Content in center by giving marigin*/
   }
   
   .boxflex{
      position: relative;
      width:360px;
      display:inline;
      margin: 0;
      
   }
   
   .boxes{           /*---boxs flex styling-*/
      display: flex;
      width: 300px;
      margin:5px;
      margin-top: 0px;
      margin-bottom: 0px;
   }
   .box3{
      display: none;
   }
   .cheatcontent .box1{           /*---box styling-*/
      width:100px;
      background-color: #1AB700;
      position:relative;
      display: block;
      margin: 10px;
      padding: 5px;
      border-radius: 5px;
      font-size:6px;
      color: black;
   }
   
   .cheatcontent .box2{
      width:100px !important;
      background-color: #7c7c7c;
      position:relative;
      margin-top: 10px;
      padding: 5px;
      border-radius: 5px;
      font-size: 6px;
      color: black;
   }
   
   .cheatcontent .box3{
      width:80px;
      background-color: #7c7c7c;
      position:relative;
      margin-top: 10px;
      padding: 5px;
      border-radius: 5px;
      font-size: 6px;
      color: black;
      display: none;
   }
   .cheatcontent .boxflex .boxes .box1 li{
      font-size: 7px;
   }
   .cheatcontent .boxflex .boxes .box2 li{
      font-size: 7px;
   }
   .privacy{             /*--privacy policy styling---*/
      margin-top: 10px;
   }
   }





/*********-------laptop SCREENS-----*******/


@media screen  and (min-width : 1024px) and (max-width : 1280px) {
   body{
      width:100rem;
      padding-left: 25rem;
   
   }

   .header{
      width:85vw;
      height:6rem;
   }

   .side-bar{
      position: fixed;
      width:25rem;
   }
.side-bar .navbar a{
      
  width:25rem;
  align-items: center;
  justify-content: center;
  padding-left: 0.4rem;
     
}

.content{
   
      margin:0 7rem;
   }
   
.content img{
  width:65vw;

}

.content .about{
   width:72rem;
}
.content .about h1{
   font-size:1.8rem;
}

.line{
   width:60vw;

} 

.content .about{
   width:70vw;
}

.content .about p{
 margin-right: 1rem;
}
 
.content .about li{
   margin-right: 3rem;
}
.content .about h2{
   font-size: 1.5rem;
}

.content .jobroles h2{
   font-size: 1.8rem;
}

.content .jobroles .carrers{
   display: flex;
  flex-wrap: wrap;
   width:66.5rem !important;
   margin-left: 2rem;
}
.content .jobroles .carrers .role{
   width:28rem !important;
   height: 6rem;
   justify-content: center;
   align-items: center;
}

.side-bar .navbar a.active{
   background-color: rgba(0, 0, 0, 0.308);
 }

 .contentr{
   margin: 0 4rem;

 } 

 .contentr img{
   width:65vw;
 }

 

 .videos{
   margin-left: 2rem;

 }
 .course{
   position: relative;
   margin: 0.4rem;

 }
 iframe{
   width:23rem;
   height: 16rem;
   margin:0.3rem;
 }
 .container2 h1{
   font-size: 1.9rem;

 }
 .course h2{
   font-size:1.2rem;
   padding-bottom: 0.5rem;
   
 }

 .accordion{
   width:74rem;
   margin-left: 3rem;
 }
 
.container1{
   width:73rem;
   height: 20rem;
}

.container1 .card{
   width:73rem;
}
.container1 .card .rec {
   height: 17rem;
}
.container1 .card .rec img{
   width:28rem;
   height:18rem;
}
.cardcontent{
   padding-left: 1rem;
   margin-top: 2.5rem;
}
.cardcontent h1{
   margin-top: -0.5rem;
}

.container1 .card .cardcontent p{
   font-size: 1.4rem;
}
.container1 .card a{
   margin-top: 0.8rem;
   width:16rem;
   height: 4rem;
}

.cheatcontent{
   max-width:70rem !important;
   margin-left: 2rem;
}
.cheatcontent .box1{
width:14rem;
}
.cheatcontent .box2{
   width:14rem;
}
.cheatcontent li{
   font-size: 1rem;
}
}

